# Python
__pycache__/
*.py[cod]

# Virtual Environment
.venv/

# Environment
.env

# Database
*.sqlite
*.sqbpro

# ChromaDB


# Uploaded Files
photos/
pdfs/

# Excel Data
*.xlsx

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db